.images-actions{
    align-items: center;
    margin-right: 1%;
    display: flex;
}

.images-actions button{
    text-align: center;
    font-size: large;
    margin: 0;
}

.connect{
    background-color: rgb(28, 28, 28);
}

.connect:hover{
    background-color: rgb(43, 43, 43);
}

.connect:active{
    background-color: rgb(63, 63, 63);
}

img{
    width: 40px;
}

button{
    color: white;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: transparent;
    cursor: pointer; 
}


button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.balance{
    background-color: rgb(25, 25, 25);
    color: white;
    width: max-content;
    padding: 0 30px 0 30px;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    /* border-right: 1px solid rgb(104, 104, 104); */
}

.profile{
    background-color: rgb(25, 25, 25);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* @media screen and (max-width: 1160px) {
    .images-actions{
      display: none;
    }
} */


.images-actions button {
    border: none;
    width: max-content;
    border-radius: 2px;
    font-size: 1rem;
}