.content {
    display: flex;
    width: 75%;
    justify-content: center;
}

.main-content{
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    color: rgb(144, 144, 144);
    margin: 20px;
}

.image {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin: 20px;
    max-width: 35%;
    max-height: 35%;
    min-width: 35%;
    min-height: 35%;
    overflow: hidden;
}

.image img {
    background-position: 'center';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.details {
    margin: 20px;
    border: 1px solid black;
    width: 40%;
    min-width: 400px;
    min-height: 50%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    border-radius: 20px;
}

.details h2, .details h3{
    color: rgb(144, 144, 144);
    font-size: 1.5rem;
}

.price {
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    padding: 10px;
}

span{
    cursor: unset;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

span:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: unset;
    cursor: pointer;
}

span h2{
    margin-right: 10px;
}

.span-price{
border-top: 1px solid black;
border-bottom: 1px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
}

.modal-content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: fit-content;
    overflow-y: auto;
    min-height:80%;
    min-width: fit-content;
}

.modalButtons{
    display: flex;
    justify-content: center;
    top: 100%;
    position: sticky;
}

.close {
    margin-left: auto;
    display: block;
    cursor: pointer;
}