/* Add this CSS code in a separate CSS file or in a <style> tag */

/* Style for the container div */
.purchase-container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: max-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 2vh;
    border: rgba(105, 105, 105, 0.1) 1px solid;
    padding: 15px;
  }
  
  .purchase-container h2{
    color: white;
    font-weight: 100;
  }

  /* Style for the labels */
  .purchase-container label {
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
  }
  
  /* Style for the inputs */
  .purchase-container input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  /* Style for the submit button (example) */
  .purchase-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .purchase-container button:hover {
    background-color: #45a049;
  }
  

  .details{
    align-items: center;
  }

  .details img{
    width: 30%;
  }