.side-drawer{
    position: fixed;
    /* display: flex;
    flex-direction: column; */
    right: 0;
    z-index: 100;
    top: 0;
    margin: 20px;
    height: max-content;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 15px;
}

.side-drawer img{
    width: 30px;
}

.close-btn{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-content{
    display: flex;
    justify-content: space-evenly;
}

.complete-purchase{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    width: max-content;
    margin-top: 40%;
    margin-bottom: 10%;
}

.complete-purchase:hover{
    background-color: rgba(255, 255, 255, 0.3);
    scale: 1.1;
}

.button{
    display: flex;
    justify-content: center;
}