
.profile-card{
    margin-top: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 550px;
}

.profile-card p{
    color: black;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

    .info{
        padding: 15px 15px 15px 20px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        font-size: 15px;
    }

    .info h2{
        color: white;
    }

    .info span{
        color: rgb(208, 208, 208);
        font-weight: 100;
    }

    .buttons{
        border-radius: 2px;
        margin: 20px;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .buttons button{
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        width: max-content;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }
.buttons button:hover{
    scale: 1.1;
}