.header{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(195, 194, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 2%;
    cursor: pointer;
}


.menu{
    display: none;
    cursor: pointer;
}

/* @media screen and (max-width: 1160px) {
    .menu{
      display: block;
    }
} */
