.header{
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(195, 194, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.menu{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1090px) {
    .menu{
      display: block;
    }
}
