
 .collections{
    margin-top: 6%;
} 

.collections h1{
    color: white;
    margin-left: 20px;
}

.collections-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
}

.buttons{
    border-radius: 2px;
    margin: 20px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.buttons button{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.buttons button:hover{
    background-color: rgb(30, 30, 30);
}

.products-not-found{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

not-found-div{
    display: flex;
}