.search-bar{
   height: 80%;
   background-color: rgba(255, 255, 255, 0.2);
   display: flex;
   align-items: center;
   border-radius: 60px;
   padding: 0;
   width: 100%;
   max-width: 700px;
   margin: 10px 20px 10px 20px;
   position: relative;

}
.search-bar input{
  padding: 10px 10px 10px 15px;
  height: 100%;
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  color: rgb(218, 217, 223);
  font-size: 20px;
}

.search-bar button img{
   width: 25px;
}

.search-bar button{
   border: 0;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   background-color: #1d1010;
   cursor: pointer;
   margin: 5px;
}

.suggestions-list {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 10;
   background-color: white;
   list-style-type: none;
   padding: 0;
   margin: 0;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 100%;
   border-radius: 15px;
 }
 
 .suggestions-list li {
   padding: 8px 16px;
   cursor: pointer;
   color: black;
   font-weight: 400;
 }
 
 .suggestions-list li:hover {
   background-color: #f2f2f2;
   border-radius: 15px;
 }
 